<div class="row-fluid">
	<div class="span4 offset4">
		<form name="form" ng-submit="update()">
		  <fieldset>
		    <legend>Profile Information</legend>
			<alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.msg}}</alert>
					    
		    <label>Name</label>
		    <input type="text" name="name" ng-model="user.name" required focus-me placeholder="Enter your name"/>
			<span class="error" ng-show="form.name.$error.required">Required field</span>
			
			<label class="checkbox"></label>
			<button type="submit" class="btn btn-primary">Update</button>
			<a href="javascript:history.go(-1)" class="btn">Back</a>
		  </fieldset>
		</form>
	</div>
</div>